@page
@model ToDoApplication.Data.ToDoItem

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*@Html.Partial("~/Pages/Shared/_ToDoShared.cshtml", (IEnumerable<Data.ToDoItem>)Model))*@

<partial name="~/Pages/Shared/_ToDoShared.cshtml" model="Model" />
